{% extends 'base.html' %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<div class="uk-container uk-container-large uk-padding">
    <div class="uk-section uk-section-secondary uk-padding">
        <h3>パスワードを変更しました</h3>
        <p>Thanks for spending some quality time with the Web site today.</p>

        <a class="uk-button uk-link-text" href="{% url 'vegetablegarden:top' %}">
            <span uk-icon="icon: arrow-right"></span>
            <span>TOP</span>
        </a>
    </div>
</div>

{% endblock %}
