{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<div class="uk-container uk-container-large uk-padding">
<div class="uk-section uk-section-secondary uk-padding">

{% if form.errors %}
<p class="error-msg">Your username and password didn't match. Please try again.</p>
{% endif %}
<h3>パスワード変更</h3>
  <form method="POST" action="">
      {% csrf_token %}
      {% for field in form %}
      <div class="uk-margin uk-width-1-2">
          {{ field.label_tag }}
          {{ field|add_class:"uk-input uk-default"}}
          {{ field.errors }}
      </div>
      {% endfor %}                    
      
      <button class="uk-button uk-button-default">Change</button>

  </form>
</div>
</div>
{% endblock %}
